.card {
  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 10px 0 10px;
}

.recipe-name {
  text-align: center;
  margin: 0 8px;
}

.img {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}

.info-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ingredients-div {
  width: 100%;
  padding-left: 10px;
}

.ingredient-label {
  font-weight: 900;
  font-size: 1.1rem;
}

.ingredient-p {
  margin: 2px 0;
}

.recipe-name, .time-p {
  margin: 5px 0;
}

.recipe-name {
  font-size: 1.4rem;
}


