.ingredient-input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-form {
  display: flex;
  flex-direction: column;
}

input {
  max-width: 200px;
  height: 25px;
  font-size: .9rem;
}

