.ingredient-input-section {
  width: 40%;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:#7f7f7f;
  background:rgba(255,255,255,0.3);
  border-radius: 20px;
}

.instructions {
  font-size: 1.1rem;
}

.ingredients-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px;
}

.submit-btn {
  margin-top: 20px;
  text-align: center;
}

input {
  max-width: 210px;
  height: 25px;
  font-size: .9rem;
}



