.ingredient-input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#7f7f7f;
  background:rgba(255,255,255,0.3);
}

.ingredients-form {
  display: flex;
  flex-direction: column;
}

input {
  max-width: 200px;
  height: 25px;
  font-size: .9rem;
}



