* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: scroll;
}

.title {
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px;
  font-size: 3rem;
}