@import './containers/IngredientsForm/IngredientsForm.scss';
@import './components/App/App.scss';
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  background-image: url("./assets/board.jpg");
  background-size: 100% auto, cover;
  // background-position: center;
  background-repeat: no-repeat;
}
