@import './containers/IngredientsForm/IngredientsForm.scss';
@import './components/App/App.scss';
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './containers/CardContainer/CardContainer.scss';
@import './components/RecipeCard/RecipeCard.scss';
@import './components/Loading/Loading.scss';

body {
  background-image: url("./assets/board.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
}
